/* Place CSS styles here */

body{
  background-color: rgb(181, 145, 97);
}
.Scorpion{
    text-align: center;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}

